<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/search_movie.css" type="text/css">
    <style>
        .alert {
            padding: 20px;
            background-color: #3d9796;
            color: white;
        }

        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

        .closebtn:hover {
            color: black;
        }
    </style>
</head>

<body>

    <% if (locals.message) { %>
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <h2><%= message %></h2>
    </div>
    <% } %>

    <form id="header1" name="header1" action="/admin/cart" method="get">
        <input type="image" src="/images/icons/shopping_cart.png" width="30" height="30" />
    </form>

    <form id="header2" name="header2" action="/logout" method="post">
        <input type="image" src="/images/icons/exit.png" width="30" height="30" />
    </form>

    <div class="contenedor">
        <form action="/admin/movies" method="get">
            <input type="image" src="/images/icons/go_back.png" id="back" width="30" height="30" />
        </form>

        <center>
            <img src="/images/titles/search_movie.png" id="img" width="340" height="130">
        </center>


        <form action="/admin/movies/search" method="post">
            <article id="container1">
                <input type="image" src="/images/icons/search_icon.png" width="15" height="15">
            </article>

            <article id="container2">
                <input type="text" name="search" id="search" placeholder="search movies">
            </article>

            <article id="container3">
                <select id="by" name="by">
                    <option value="">By</option>
                    <option value="id">ID</option>
                    <option value="title" selected>Title</option>
                </select><br>

            </article>
        </form>
        <script>


        </script>

        <div class="scroll">
            <% for (let i = 1 ; i <= 10 ; i++) { %>
            <div class="clearfix">
            <% if(locals.moviesTitle && locals.moviesTitle.length > (i-1) ){  %>
            
            <form action="/admin/movies/addcart" method="post">
            <input id="searchBy" name="searchBy" type="hidden"value="<%= searchBy %>">
            <input type="image" id="movieId"name="movieId"class="cartBtn"src="/images/icons/cart.png" width="25px" height="25px" top="10"value="<%= moviesTitle[i-1].Movie_id_m %>" >
            </form>
            <form action="/admin/movies/edit" method="post">
                
                <input type="text" id="<%= ("field_" + i) %>" value="<%= "   id: " + moviesTitle[i-1].Movie_id_m + ", " + moviesTitle[i-1].movie_name +", stock: " + moviesTitle[i-1]['Movie.stock'] %>" name="<%= ("field_" + i) %>" class="field left" readonly>
                <input type="image" id="movieId"name="movieId" src="/images/icons/view_edit.png" width="25px" height="25px"
                value="<%= moviesTitle[i-1].Movie_id_m %>" top="10">
            <% } else{ %>
                <form action="/admin/movies/edit" method="post">
                <input type="text" id="<%= ("field_" + i) %>" name="<%= ("field_" + i) %>" class="field left" readonly>
            <% } %>
            </form>
            <% } %>
        </div>
        </div>
    </div>
</body>

</html>